.ContactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 25rem;
  padding: 1rem;

  color: black;
  border: 1px solid black;
  border-radius: 15px;
}
.DefaultAvatar {
  position: relative;

  color: black;
  border: 1px solid black;
  border-radius: 50%;
}
.initialen {
  position: absolute;
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  line-height: 8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.ContactCard img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.cName {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}
.cData {
  font-size: 1.1rem;
  border: none;
}
.cBirthday {
  font-size: 1.2rem;
  border: none;
}
.addContactBtn {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.addContactBtn:hover {
  border: 1px solid #666;
  background-color: #fcd133ff;
}
#Dates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.layer2 {
  z-index: 100;
}
