.Container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  min-width: 23rem;
  max-width: 83rem;
  min-height: 30rem;
  margin: auto;
  background-color: #ffffffcd; /* Opacity 80% */

  color: black;
  border: 1px solid black;
  border-radius: 15px;
}
.ContactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 25rem;
  padding: 1rem;

  color: black;
  border: 1px solid black;
  border-radius: 15px;
}
.DefaultAvatar {
  position: relative;

  color: black;
  border: 1px solid black;
  border-radius: 50%;
}
.initialen {
  position: absolute;
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  line-height: 8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.ContactCard img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.cName {
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}
.cData {
  font-size: 1.1rem;
  border: none;
}
.cBirthday {
  font-size: 1.2rem;
  border: none;
}
.btn {
  width: 6rem;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
}
.vSpace {
  line-height: 0.8rem;
}
.vCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hCenter {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addContactBtn {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.addContactBtn:hover {
  border: 1px solid #666;
  background-color: #fcd133ff;
}
.addContactBtn:hover > svg > path {
  fill: #eee;
  stroke: #666;
}
#Dates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#Dates .btn {
  background-color: #fff;
}
#Dates .btn:hover {
  background-color: #000;
  color: #fff;
}
.layer2 {
  z-index: 100;
}